streamlit
PyPDF2
langchain
langchain_google_genai
google-generativeai
langchain_community
faiss-cpu
openai
requests
python-dotenv
google-api-core
unstructured 
python-docx
pytesseract
Pillow
pdf2image
selenium
selenium
speechrecognition
gTTS 
bs4
